
html, body {
  background-color: #473810;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, #26110D, #473810);
  
}


h1 {
    text-align: center;
    margin: 0;
}


nav > ul {
    display: flex;
    list-style-type: none;
    gap: 2em;
    justify-content: flex-end;
    margin: 0px 0 0 0px;
    padding: 25px;
    background-color: #26110D; 
    
}

nav > ul > li > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    padding-right: 130px;
    
} 



.header-container {
    position: relative;
    height: 800px;
    overflow: hidden;
    border-bottom: 5px double white;
}

#header-img {
    display: block;
    width: 100%;
    height: 100%;        /* Match parent container */
    object-fit: cover;   /* Ensures full coverage */
    position: absolute;  /* Needed for proper stacking */
    top: 0;
    left: 0;
    z-index: 0;
    
}

.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(4, 2, 7, 0.7), rgba(0, 0, 0, 0.07));
    z-index: 1;
} 

nav {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    text-align: center;
    color: white;
    font-family: sans-serif;
    transform: translate(-50%, -50%);
    animation: fadeIn 3s;
} 

.header-text > h1 {
    font-size: 80px;
    margin: 0;
} 

.header-text > p {
    font-size: 30px;
    margin: 10px 0 0 0;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

main > section > h2 {
    text-align: center;
    color: white;
    font-size: 350%;
    font-family: sans-serif;

} 

#mountain-pic {
    margin-left: 65px;
}

#about-me-photos {
    display: flex;
    width: 25%;
    height: 350px;
    
} 

#introduction {
  font-size: 150%;
  font-family: Georgia, serif;
  width: 70%;
  color: white;
}


.brown-box {
    background-color: #26110D;
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 20px;

}

.center-wrapper {
  text-align: center;
}

#about-me {
    animation: fadeIn 3s;
}

#project-photos > ul {
    list-style-type: none;
    display: flex;
    gap: 50px;
    justify-content: center;

}

#my-projects img {
    width: 300px;
}

#contact-information > ul {
    display: flex;
    color: white;
    gap: 3em;
    margin-left: 31.5%;
    font-size: 25px;
}

#contact-information > ul > li > a {
    color: white;
    text-decoration: none;
}

#contact-information > ul > li > a:hover {
    color: #80692b;
}
/* next task! PUT A WHITE, DOUBLE BORDER AROUND THE FOUR PHOTOS! */
#f